* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    justify-content: center;
    font-family: 'DM Sans';
    color: #36384F;
}

.container {
    width: 100%;
    max-width: 1440px;
    background-color: #F2EFDB;
    margin: 0 auto; /* Выравнивание по центру блока */
    height: auto;
    position: relative;
    /* padding-top: 20px; Отступ от верхней части контейнера */
}

.partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки с равной шириной */
    width: 100%;
    max-width: 1160px;
    height: 269.35px;
    margin: 0 auto; /* Центрируем блок .partners */
    margin-top: 2015px; /* Ваш отступ сверху */
    margin-left: 162px;
    
}

/* Элементы внутри .partners */
.frame65, .frame63 {
    position: relative;
}
.frame65{
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 269.35px;
    width: 594px;
}
.frame63{
    width: 486px; margin-left: 80px;
}

.image-with-margin{
    margin-left: 50px; margin-top: auto;
}
.wchus {
    display: flex; /* Активируем Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex-direction: column; /* Размещение элементов в колонку (если нужно) */
    width: 100%;
    max-width: 1202px;
    height: 753px;
    margin: 0 auto; /* Центрируем блок .wchus */
    margin-top: 160.09px; /* Отступ от контейнера */
    margin-left: 116px; /* Дополнительный отступ слева */
    box-sizing: border-box;
    gap: 48px; /* Отступы между элементами внутри */
}


.frame78 {
    display: flex;
    width: 1202px;
    height: 565px;
    flex-direction: row;
    background-color: antiquewhite;
    
}
.left_p{
    display: flex;
    flex-direction: column;
}
.frame64{
    width: 384px;
    height: 310px;
    border-radius: 24px;
    background-color: #6FA99166;
}
.p1{
    font-size: 64px;           /* Размер шрифта */
    font-weight: 700;          /* Толщина шрифта (жирный) */
    line-height: 70.4px;       /* Высота строки */
    text-align: left;          /* Выравнивание текста по левому краю */
    width: 68px;               /* Ширина элемента */
    height: 70px;              /* Высота элемента */
    position: relative;        /* Обеспечивает работу свойств top и left */
    top: 24px;                 /* Отступ сверху относительно нормального положения */
    left: 24px;                /* Отступ слева относительно нормального положения */
}
.p2{
    font-size: 24px;           /* Размер шрифта */
    font-weight: 700;          /* Толщина шрифта (жирный) */
    line-height: 31.2px;       /* Высота строки */
    text-align: left; 
}
.p3{
    font-size: 16px;           /* Размер шрифта */
    font-weight: 400;          /* Толщина шрифта (жирный) */
    line-height: 24px;       /* Высота строки */
    text-align: left; 
}
.frame68{
    width: 318px;           
    height: 136px;          
    position: relative;     
    top: 60px;              
    left: 24px;              
    gap: 8px;
}
.frame65_2{
    width: 384px;
    height: 231px;
    margin-top: 24px;
    border-radius: 24px;
    background-color: #6FA99166;

}
.frame69{
    /* width: 342px;            */
    height: 101px;          
    position: relative;     
    top: 33px;              
    left: 24px;              
    gap: 8px;
}

.right_p{
    display: flex;
    flex-direction: column;
    
}
.top_p{
    width: 789px;
    height: 222px;
    border-radius: 24px;
    margin-left: 29px;
    margin-top: 5px;
    text-align: center;
}
.rectangle1{
    background-color: #6FA991;
    width: 475px;
    height: 64px;
    border-radius: 30px;
    font-size: 48px; /* Размер шрифта */
    font-weight: 700; /* Жирность шрифта */
    line-height: 52.8px;
   
}
.rectangle2{
    background-color: #6FA991;
    width: 46px;
    height: 14px;
    margin-left: 276px;  
    z-index: 1;
    position: absolute;

}
.rectangle2_1{
    width: 281px;
    background-color: #F2EFDB;
    height: 14px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
}
.rectangle2_2{
    margin-left: 317px;
    background-color: #F2EFDB;
    height: 14px;
    border-radius: 30px;
    position: absolute;
    width: 50px;
    margin-top: 0px;
    z-index: 2;
    
}


.rectangle3{
    background-color: #6FA991;
    width: 100%;
    height: 144px;
    border-radius: 30px;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
}
.bottom_p{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-left: 24px;
}
.frame66{
    width: 486px;
    height: 320px;
    border-radius: 24px;
    background-color: #6FA99166;

}
.frame67{
    width: 282px;
    height: 320px;
    border-radius: 24px;
    background-color: #6FA99166;
    margin-left: 24px;
}
.frame70{
    width: 239px;           /* Ширина элемента 239 пикселей */
    height: 174px;          /* Высота элемента 174 пикселя */
    position: relative;    /* Используем абсолютное позиционирование */
    top: 56px;             /* Отступ сверху 126 пикселей */
    left: 24px;             /* Отступ слева 24 пикселя */
    gap: 8px; 
}
.frame77 {
    width: 100%;
    display: grid;
    grid-template-columns: 294px 281px 281px; /* Ширина колонок для каждого дочернего блока */
    gap: 132px;
    max-width: 1120px; 
}
.big_num{
    font-size: 80px; font-weight: 700;  line-height: 80px; 
}
.title{
    text-align: center;
}
.frame72, .frame73, .frame74 {
    /* Общие стили для блоков */
    display: flex; /* Flexbox для центрирования контента */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame72 {
    width: 294px; 
    height: 114px; 
   
}

.frame73 {
    width: 281px;
    height: 140px; 
   
}

.frame74 {
    width: 281px; 
    height: 114px; 
    
}


/* Для мобильных устройств */
@media (max-width: 768px) {
    .partners {
        grid-template-columns: 1fr; /* Колонки становятся строками на мобильных */
        height: auto; /* Высота адаптируется автоматически */
    }

    .frame65, .frame63 {
        width: 100%; /* Элементы растягиваются на всю ширину */
        text-align: center; /* Центрируем контент внутри */
    }
}


.frame83{
    width: 1204px;
    height: 171x;
    margin-left: 118px;
    /* background-color: bisque;  */
}




.card{
    width: 585px;
    background-color: rgba(243, 197, 137, 0.4);

}


/* контейнер слайдера */
.swiper-container{
    height: 301px;
    
}

.swiper-wrapper{
    height: 301px;
    position: absolute;
}

/* Повышение специфичности для пагинации */
.swiper-container .swiper-pagination-bullet {
    
    width: 10px;
    height: 10px;
    border: 1px solid black; /* Переопределение */
}

.swiper-container .swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0); /* Цвет активной точки */
    width: 10px;
    height: 10px;
}

.swiper-slide {
    width: Hug (585px)px;
    height: Hug (301px)px;
    padding: 32px 46px 32px 46px;
    gap: 16px;
    border-radius: 24px;
    

}



/* ДЕЛАЕМ КНОПКИ */
/* Скрываем текстовое содержание кнопок */
.swiper-button-next::after, 
.swiper-button-prev::after {
    display: none;
}

/* Основная стилизация для кнопок */
.swiper-button-next, 
.swiper-button-prev {
    width: 36px; /* Ширина кнопки */
    height: 36px; /* Высота кнопки */
    background-size: cover; /* Изображение будет масштабироваться для полного покрытия кнопки */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    background-position: center; /* Центрируем изображение внутри кнопки */
    border-radius: 50%; /* Сделаем кнопки круглыми (опционально) */
}

.slider-buttons{
    width: 216px;
    position: absolute;
    margin-left: 504px;
    margin-top: 50px;
    height: 36px;
}

/* Настройка кнопки "вперед" */
.swiper-button-next {
    background-image: url("img/right.png"); /* Подключаем изображение для кнопки "вперед" */
    right: -50px; /* Сдвигаем кнопку вправо за пределы слайдера */
    top: 50%; /* Центрируем кнопку вертикально */
    transform: translateY(-50%); /* Центрирование по вертикали */
    position: absolute;
}

/* Настройка кнопки "назад" */
.swiper-button-prev {
    background-image: url("img/left.png"); /* Подключаем изображение для кнопки "назад" */
    position: absolute;
    left: -200px; /* Сдвигаем кнопку влево за пределы слайдера */
    top: 50%; /* Центрируем кнопку вертикально */
    transform: translateY(-50%); /* Центрирование по вертикали */
    
}

.swiper-button-prev,
.swiper-button-next{
    position: static;
}

.slider-top{
    height: 85px;
}


.frame82{
    position: absolute;
    width: 491px;
    height: 85px;
    margin-left: 835px;
    font-size: 20px; font-weight: 500; line-height: 26px;
}

.swiper-slide.active-slide {
    background-color: rgba(243, 197, 137, 1); /* Цвет для выделения центрального слайда */
}